/*
 * MarvelComicsLib
 *
 * This file was automatically generated by APIMATIC v2.0 ( https://apimatic.io ) on 09/14/2016
 */
package com.marvel.gateway.controllers;

import java.io.*;
import java.util.*;
import java.util.concurrent.*;
import com.fasterxml.jackson.core.type.TypeReference;

import com.marvel.gateway.*;
import com.marvel.gateway.models.*;
import com.marvel.gateway.exceptions.*;
import com.marvel.gateway.http.client.HttpClient;
import com.marvel.gateway.http.client.HttpContext;
import com.marvel.gateway.http.request.HttpRequest;
import com.marvel.gateway.http.response.HttpResponse;
import com.marvel.gateway.http.response.HttpStringResponse;
import com.marvel.gateway.http.client.APICallBack;
import com.marvel.gateway.controllers.syncwrapper.APICallBackCatcher;

public class CreatorsController extends BaseController {    
    //private static variables for the singleton pattern
    private static Object syncObject = new Object();
    private static CreatorsController instance = null;

    /**
     * Singleton pattern implementation 
     * @return The singleton instance of the CreatorsController class 
     */
    public static CreatorsController getInstance() {
        synchronized (syncObject) {
            if (null == instance) {
                instance = new CreatorsController();
            }
        }
        return instance;
    }

    /**
     * Fetches a single creator by id.
     * @param    creatorId    Required parameter: A single creator id.
     * @return    Returns the Creator response from the API call 
     */
    public Creator getCreatorIndividual(
                final String creatorId
    ) throws Throwable {
        APICallBackCatcher<Creator> callback = new APICallBackCatcher<Creator>();
        getCreatorIndividualAsync(creatorId, callback);
        if(!callback.isSuccess())
            throw callback.getError();
        return callback.getResult();
    }

    /**
     * Fetches a single creator by id.
     * @param    creatorId    Required parameter: A single creator id.
     * @return    Returns the void response from the API call 
     */
    public void getCreatorIndividualAsync(
                final String creatorId,
                final APICallBack<Creator> callBack
    ) {
        //the base uri for api requests
        String _baseUri = Configuration.baseUri;

        //prepare query string for API call
        StringBuilder _queryBuilder = new StringBuilder(_baseUri);
        _queryBuilder.append("/creators/{creatorId}");

        //process template parameters
        APIHelper.appendUrlWithTemplateParameters(_queryBuilder, new HashMap<String, Object>() {
            private static final long serialVersionUID = 4669801378123078662L;
            {
                    put( "creatorId", creatorId );
            }});

        //process query parameters
        APIHelper.appendUrlWithQueryParameters(_queryBuilder, new HashMap<String, Object>() {
            private static final long serialVersionUID = 5111765338332941745L;
            {
                    put( "apikey", Configuration.apikey );
            }});
        //validate and preprocess url
        String _queryUrl = APIHelper.cleanUrl(_queryBuilder);

        //load all headers for the outgoing API request
        Map<String, String> _headers = new HashMap<String, String>() {
            private static final long serialVersionUID = 4859480867684045818L;
            {
                    put( "user-agent", "APIMATIC 2.0" );
                    put( "accept", "application/json" );
                    put( "referer", Configuration.referer );
            }
        };

        //prepare and invoke the API call request to fetch the response
        final HttpRequest _request = getClientInstance().get(_queryUrl, _headers, null);

        //invoke the callback before request if its not null
        if (getHttpCallBack() != null)
        {
            getHttpCallBack().OnBeforeRequest(_request);
        }

        //invoke request and get response
        Runnable _responseTask = new Runnable() {
            public void run() {
                //make the API call
                getClientInstance().executeAsStringAsync(_request, new APICallBack<HttpResponse>() {
                    public void onSuccess(HttpContext _context, HttpResponse _response) {
                        try {

                            //invoke the callback after response if its not null
                            if (getHttpCallBack() != null)	
                            {
                                getHttpCallBack().OnAfterResponse(_context);
                            }

                            //Error handling using HTTP status codes
                            int _responseCode = _response.getStatusCode();
                            if (_responseCode == 404)
                                throw new APIException("Creator not found.", _context);

                            //handle errors defined at the API level
                            validateResponse(_response, _context);

                            //extract result from the http response
                            String _responseBody = ((HttpStringResponse)_response).getBody();
                            Creator _result = APIHelper.deserialize(_responseBody,
                                                        new TypeReference<Creator>(){});

                            //let the caller know of the success
                            callBack.onSuccess(_context, _result);
                        } catch (APIException error) {
                            //let the caller know of the error
                            callBack.onFailure(_context, error);
                        } catch (IOException ioException) {
                            //let the caller know of the caught IO Exception
                            callBack.onFailure(_context, ioException);
                        } catch (Exception exception) {
                            //let the caller know of the caught Exception
                            callBack.onFailure(_context, exception);
                        }
                    }
                    public void onFailure(HttpContext _context, Throwable _error) {
                        //invoke the callback after response if its not null
                        if (getHttpCallBack() != null)	
                            {
                            getHttpCallBack().OnAfterResponse(_context);
                        }

                        //let the caller know of the failure
                        callBack.onFailure(_context, _error);
                    }
                });
            }
        };

        //execute async using thread pool
        APIHelper.getScheduler().execute(_responseTask);
    }

    /**
     * Fetches lists of comics filtered by a creator id.
     * @param    creatorId    Required parameter: A single creator id.
     * @param    characters    Optional parameter: Return only comics which feature the specified characters (accepts a comma-separated list of ids).
     * @param    collaborators    Optional parameter: Return only comics in which the specified creators worked together (for example in which BOTH Stan Lee and Jack Kirby did work).
     * @param    dateDescriptor    Optional parameter: Return comics within a predefined date range.
     * @param    dateRange    Optional parameter: Return comics within a predefined date range.  Dates must be specified as date1,date2 (e.g. 2013-01-01,2013-01-02).  Dates are preferably formatted as YYYY-MM-DD but may be sent as any common date format.
     * @param    diamondCode    Optional parameter: Filter by diamond code.
     * @param    digitalId    Optional parameter: Filter by digital comic id.
     * @param    ean    Optional parameter: Filter by EAN.
     * @param    events    Optional parameter: Return only comics which take place in the specified events (accepts a comma-separated list of ids).
     * @param    format    Optional parameter: Filter by the issue format (e.g. comic, digital comic, hardcover). (Acceptable values are: "comic", "magazine", "trade paperback", "hardcover", "digest", "graphic novel", "digital comic", "infinite comic")
     * @param    formatType    Optional parameter: Filter by the issue format type (comic or collection).
     * @param    hasDigitalIssue    Optional parameter: Include only results which are available digitally. (Acceptable values are: "true")
     * @param    isbn    Optional parameter: Filter by ISBN.
     * @param    issn    Optional parameter: Filter by ISSN.
     * @param    issueNumber    Optional parameter: Return only issues in series whose issue number matches the input.
     * @param    limit    Optional parameter: Limit the result set to the specified number of resources.
     * @param    modifiedSince    Optional parameter: Return only comics which have been modified since the specified date.
     * @param    noVariants    Optional parameter: Exclude variant comics from the result set. (Acceptable values are: "true")
     * @param    offset    Optional parameter: Skip the specified number of resources in the result set.
     * @param    orderBy    Optional parameter: Order the result set by a field or fields. Add a "-" to the value sort in descending order. Multiple values are given priority in the order in which they are passed. (Acceptable values are: "focDate", "onsaleDate", "title", "issueNumber", "modified", "-focDate", "-onsaleDate", "-title", "-issueNumber", "-modified")
     * @param    series    Optional parameter: Return only comics which are part of the specified series (accepts a comma-separated list of ids).
     * @param    sharedAppearances    Optional parameter: Return only comics in which the specified characters appear together (for example in which BOTH Spider-Man and Wolverine appear).
     * @param    startYear    Optional parameter: Return only issues in series whose start year matches the input.
     * @param    stories    Optional parameter: Return only comics which contain the specified stories (accepts a comma-separated list of ids).
     * @param    title    Optional parameter: Return only issues in series whose title matches the input.
     * @param    titleStartsWith    Optional parameter: Return only issues in series whose title starts with the input.
     * @param    upc    Optional parameter: Filter by UPC.
     * @return    Returns the ComicDataWrapper response from the API call 
     */
    public ComicDataWrapper getComicsCollectionByCreatorId(
                final String creatorId,
                final String characters,
                final String collaborators,
                final DateDescriptorEnum dateDescriptor,
                final String dateRange,
                final String diamondCode,
                final String digitalId,
                final String ean,
                final String events,
                final String format,
                final FormatTypeEnum formatType,
                final String hasDigitalIssue,
                final String isbn,
                final String issn,
                final String issueNumber,
                final String limit,
                final String modifiedSince,
                final String noVariants,
                final String offset,
                final String orderBy,
                final String series,
                final String sharedAppearances,
                final String startYear,
                final String stories,
                final String title,
                final String titleStartsWith,
                final String upc
    ) throws Throwable {
        APICallBackCatcher<ComicDataWrapper> callback = new APICallBackCatcher<ComicDataWrapper>();
        getComicsCollectionByCreatorIdAsync(creatorId, characters, collaborators, dateDescriptor, dateRange, diamondCode, digitalId, ean, events, format, formatType, hasDigitalIssue, isbn, issn, issueNumber, limit, modifiedSince, noVariants, offset, orderBy, series, sharedAppearances, startYear, stories, title, titleStartsWith, upc, callback);
        if(!callback.isSuccess())
            throw callback.getError();
        return callback.getResult();
    }

    /**
     * Fetches lists of comics filtered by a creator id.
     * @param    creatorId    Required parameter: A single creator id.
     * @param    characters    Optional parameter: Return only comics which feature the specified characters (accepts a comma-separated list of ids).
     * @param    collaborators    Optional parameter: Return only comics in which the specified creators worked together (for example in which BOTH Stan Lee and Jack Kirby did work).
     * @param    dateDescriptor    Optional parameter: Return comics within a predefined date range.
     * @param    dateRange    Optional parameter: Return comics within a predefined date range.  Dates must be specified as date1,date2 (e.g. 2013-01-01,2013-01-02).  Dates are preferably formatted as YYYY-MM-DD but may be sent as any common date format.
     * @param    diamondCode    Optional parameter: Filter by diamond code.
     * @param    digitalId    Optional parameter: Filter by digital comic id.
     * @param    ean    Optional parameter: Filter by EAN.
     * @param    events    Optional parameter: Return only comics which take place in the specified events (accepts a comma-separated list of ids).
     * @param    format    Optional parameter: Filter by the issue format (e.g. comic, digital comic, hardcover). (Acceptable values are: "comic", "magazine", "trade paperback", "hardcover", "digest", "graphic novel", "digital comic", "infinite comic")
     * @param    formatType    Optional parameter: Filter by the issue format type (comic or collection).
     * @param    hasDigitalIssue    Optional parameter: Include only results which are available digitally. (Acceptable values are: "true")
     * @param    isbn    Optional parameter: Filter by ISBN.
     * @param    issn    Optional parameter: Filter by ISSN.
     * @param    issueNumber    Optional parameter: Return only issues in series whose issue number matches the input.
     * @param    limit    Optional parameter: Limit the result set to the specified number of resources.
     * @param    modifiedSince    Optional parameter: Return only comics which have been modified since the specified date.
     * @param    noVariants    Optional parameter: Exclude variant comics from the result set. (Acceptable values are: "true")
     * @param    offset    Optional parameter: Skip the specified number of resources in the result set.
     * @param    orderBy    Optional parameter: Order the result set by a field or fields. Add a "-" to the value sort in descending order. Multiple values are given priority in the order in which they are passed. (Acceptable values are: "focDate", "onsaleDate", "title", "issueNumber", "modified", "-focDate", "-onsaleDate", "-title", "-issueNumber", "-modified")
     * @param    series    Optional parameter: Return only comics which are part of the specified series (accepts a comma-separated list of ids).
     * @param    sharedAppearances    Optional parameter: Return only comics in which the specified characters appear together (for example in which BOTH Spider-Man and Wolverine appear).
     * @param    startYear    Optional parameter: Return only issues in series whose start year matches the input.
     * @param    stories    Optional parameter: Return only comics which contain the specified stories (accepts a comma-separated list of ids).
     * @param    title    Optional parameter: Return only issues in series whose title matches the input.
     * @param    titleStartsWith    Optional parameter: Return only issues in series whose title starts with the input.
     * @param    upc    Optional parameter: Filter by UPC.
     * @return    Returns the void response from the API call 
     */
    public void getComicsCollectionByCreatorIdAsync(
                final String creatorId,
                final String characters,
                final String collaborators,
                final DateDescriptorEnum dateDescriptor,
                final String dateRange,
                final String diamondCode,
                final String digitalId,
                final String ean,
                final String events,
                final String format,
                final FormatTypeEnum formatType,
                final String hasDigitalIssue,
                final String isbn,
                final String issn,
                final String issueNumber,
                final String limit,
                final String modifiedSince,
                final String noVariants,
                final String offset,
                final String orderBy,
                final String series,
                final String sharedAppearances,
                final String startYear,
                final String stories,
                final String title,
                final String titleStartsWith,
                final String upc,
                final APICallBack<ComicDataWrapper> callBack
    ) {
        //the base uri for api requests
        String _baseUri = Configuration.baseUri;

        //prepare query string for API call
        StringBuilder _queryBuilder = new StringBuilder(_baseUri);
        _queryBuilder.append("/creators/{creatorId}/comics");

        //process template parameters
        APIHelper.appendUrlWithTemplateParameters(_queryBuilder, new HashMap<String, Object>() {
            private static final long serialVersionUID = 4693410474890193038L;
            {
                    put( "creatorId", creatorId );
            }});

        //process query parameters
        APIHelper.appendUrlWithQueryParameters(_queryBuilder, new HashMap<String, Object>() {
            private static final long serialVersionUID = 4711126510750565094L;
            {
                    put( "characters", characters );
                    put( "collaborators", collaborators );
                    put( "dateDescriptor", (null != dateDescriptor) ? dateDescriptor.value() : null );
                    put( "dateRange", dateRange );
                    put( "diamondCode", diamondCode );
                    put( "digitalId", digitalId );
                    put( "ean", ean );
                    put( "events", events );
                    put( "format", format );
                    put( "formatType", (null != formatType) ? formatType.value() : null );
                    put( "hasDigitalIssue", hasDigitalIssue );
                    put( "isbn", isbn );
                    put( "issn", issn );
                    put( "issueNumber", issueNumber );
                    put( "limit", limit );
                    put( "modifiedSince", modifiedSince );
                    put( "noVariants", noVariants );
                    put( "offset", offset );
                    put( "orderBy", orderBy );
                    put( "series", series );
                    put( "sharedAppearances", sharedAppearances );
                    put( "startYear", startYear );
                    put( "stories", stories );
                    put( "title", title );
                    put( "titleStartsWith", titleStartsWith );
                    put( "upc", upc );
                    put( "apikey", Configuration.apikey );
            }});
        //validate and preprocess url
        String _queryUrl = APIHelper.cleanUrl(_queryBuilder);

        //load all headers for the outgoing API request
        Map<String, String> _headers = new HashMap<String, String>() {
            private static final long serialVersionUID = 5333277028456451716L;
            {
                    put( "user-agent", "APIMATIC 2.0" );
                    put( "accept", "application/json" );
                    put( "referer", Configuration.referer );
            }
        };

        //prepare and invoke the API call request to fetch the response
        final HttpRequest _request = getClientInstance().get(_queryUrl, _headers, null);

        //invoke the callback before request if its not null
        if (getHttpCallBack() != null)
        {
            getHttpCallBack().OnBeforeRequest(_request);
        }

        //invoke request and get response
        Runnable _responseTask = new Runnable() {
            public void run() {
                //make the API call
                getClientInstance().executeAsStringAsync(_request, new APICallBack<HttpResponse>() {
                    public void onSuccess(HttpContext _context, HttpResponse _response) {
                        try {

                            //invoke the callback after response if its not null
                            if (getHttpCallBack() != null)	
                            {
                                getHttpCallBack().OnAfterResponse(_context);
                            }

                            //Error handling using HTTP status codes
                            int _responseCode = _response.getStatusCode();
                            if (_responseCode == 409)
                                throw new APIException("Limit greater than 100.", _context);

                            //handle errors defined at the API level
                            validateResponse(_response, _context);

                            //extract result from the http response
                            String _responseBody = ((HttpStringResponse)_response).getBody();
                            ComicDataWrapper _result = APIHelper.deserialize(_responseBody,
                                                        new TypeReference<ComicDataWrapper>(){});

                            //let the caller know of the success
                            callBack.onSuccess(_context, _result);
                        } catch (APIException error) {
                            //let the caller know of the error
                            callBack.onFailure(_context, error);
                        } catch (IOException ioException) {
                            //let the caller know of the caught IO Exception
                            callBack.onFailure(_context, ioException);
                        } catch (Exception exception) {
                            //let the caller know of the caught Exception
                            callBack.onFailure(_context, exception);
                        }
                    }
                    public void onFailure(HttpContext _context, Throwable _error) {
                        //invoke the callback after response if its not null
                        if (getHttpCallBack() != null)	
                            {
                            getHttpCallBack().OnAfterResponse(_context);
                        }

                        //let the caller know of the failure
                        callBack.onFailure(_context, _error);
                    }
                });
            }
        };

        //execute async using thread pool
        APIHelper.getScheduler().execute(_responseTask);
    }

    /**
     * Fetches lists of events filtered by a creator id.
     * @param    creatorId    Required parameter: A single creator id.
     * @param    characters    Optional parameter: Return only events which feature the specified characters (accepts a comma-separated list of ids).
     * @param    comics    Optional parameter: Return only events which take place in the specified comics (accepts a comma-separated list of ids).
     * @param    limit    Optional parameter: Limit the result set to the specified number of resources.
     * @param    modifiedSince    Optional parameter: Return only events which have been modified since the specified date.
     * @param    name    Optional parameter: Filter the event list by name.
     * @param    nameStartsWith    Optional parameter: Return events with names that begin with the specified string (e.g. Sp).
     * @param    offset    Optional parameter: Skip the specified number of resources in the result set.
     * @param    orderBy    Optional parameter: Order the result set by a field or fields. Add a "-" to the value sort in descending order. Multiple values are given priority in the order in which they are passed. (Acceptable values are: "name", "startDate", "modified", "-name", "-startDate", "-modified")
     * @param    series    Optional parameter: Return only events which are part of the specified series (accepts a comma-separated list of ids).
     * @param    stories    Optional parameter: Return only events which contain the specified stories (accepts a comma-separated list of ids).
     * @return    Returns the EventDataWrapper response from the API call 
     */
    public EventDataWrapper getCreatorEventsCollection(
                final String creatorId,
                final String characters,
                final String comics,
                final String limit,
                final String modifiedSince,
                final String name,
                final String nameStartsWith,
                final String offset,
                final String orderBy,
                final String series,
                final String stories
    ) throws Throwable {
        APICallBackCatcher<EventDataWrapper> callback = new APICallBackCatcher<EventDataWrapper>();
        getCreatorEventsCollectionAsync(creatorId, characters, comics, limit, modifiedSince, name, nameStartsWith, offset, orderBy, series, stories, callback);
        if(!callback.isSuccess())
            throw callback.getError();
        return callback.getResult();
    }

    /**
     * Fetches lists of events filtered by a creator id.
     * @param    creatorId    Required parameter: A single creator id.
     * @param    characters    Optional parameter: Return only events which feature the specified characters (accepts a comma-separated list of ids).
     * @param    comics    Optional parameter: Return only events which take place in the specified comics (accepts a comma-separated list of ids).
     * @param    limit    Optional parameter: Limit the result set to the specified number of resources.
     * @param    modifiedSince    Optional parameter: Return only events which have been modified since the specified date.
     * @param    name    Optional parameter: Filter the event list by name.
     * @param    nameStartsWith    Optional parameter: Return events with names that begin with the specified string (e.g. Sp).
     * @param    offset    Optional parameter: Skip the specified number of resources in the result set.
     * @param    orderBy    Optional parameter: Order the result set by a field or fields. Add a "-" to the value sort in descending order. Multiple values are given priority in the order in which they are passed. (Acceptable values are: "name", "startDate", "modified", "-name", "-startDate", "-modified")
     * @param    series    Optional parameter: Return only events which are part of the specified series (accepts a comma-separated list of ids).
     * @param    stories    Optional parameter: Return only events which contain the specified stories (accepts a comma-separated list of ids).
     * @return    Returns the void response from the API call 
     */
    public void getCreatorEventsCollectionAsync(
                final String creatorId,
                final String characters,
                final String comics,
                final String limit,
                final String modifiedSince,
                final String name,
                final String nameStartsWith,
                final String offset,
                final String orderBy,
                final String series,
                final String stories,
                final APICallBack<EventDataWrapper> callBack
    ) {
        //the base uri for api requests
        String _baseUri = Configuration.baseUri;

        //prepare query string for API call
        StringBuilder _queryBuilder = new StringBuilder(_baseUri);
        _queryBuilder.append("/creators/{creatorId}/events");

        //process template parameters
        APIHelper.appendUrlWithTemplateParameters(_queryBuilder, new HashMap<String, Object>() {
            private static final long serialVersionUID = 5262453771282720217L;
            {
                    put( "creatorId", creatorId );
            }});

        //process query parameters
        APIHelper.appendUrlWithQueryParameters(_queryBuilder, new HashMap<String, Object>() {
            private static final long serialVersionUID = 5457988970601408755L;
            {
                    put( "characters", characters );
                    put( "comics", comics );
                    put( "limit", limit );
                    put( "modifiedSince", modifiedSince );
                    put( "name", name );
                    put( "nameStartsWith", nameStartsWith );
                    put( "offset", offset );
                    put( "orderBy", orderBy );
                    put( "series", series );
                    put( "stories", stories );
                    put( "apikey", Configuration.apikey );
            }});
        //validate and preprocess url
        String _queryUrl = APIHelper.cleanUrl(_queryBuilder);

        //load all headers for the outgoing API request
        Map<String, String> _headers = new HashMap<String, String>() {
            private static final long serialVersionUID = 5153612989026281758L;
            {
                    put( "user-agent", "APIMATIC 2.0" );
                    put( "accept", "application/json" );
                    put( "referer", Configuration.referer );
            }
        };

        //prepare and invoke the API call request to fetch the response
        final HttpRequest _request = getClientInstance().get(_queryUrl, _headers, null);

        //invoke the callback before request if its not null
        if (getHttpCallBack() != null)
        {
            getHttpCallBack().OnBeforeRequest(_request);
        }

        //invoke request and get response
        Runnable _responseTask = new Runnable() {
            public void run() {
                //make the API call
                getClientInstance().executeAsStringAsync(_request, new APICallBack<HttpResponse>() {
                    public void onSuccess(HttpContext _context, HttpResponse _response) {
                        try {

                            //invoke the callback after response if its not null
                            if (getHttpCallBack() != null)	
                            {
                                getHttpCallBack().OnAfterResponse(_context);
                            }

                            //Error handling using HTTP status codes
                            int _responseCode = _response.getStatusCode();
                            if (_responseCode == 409)
                                throw new APIException("Limit greater than 100.", _context);

                            //handle errors defined at the API level
                            validateResponse(_response, _context);

                            //extract result from the http response
                            String _responseBody = ((HttpStringResponse)_response).getBody();
                            EventDataWrapper _result = APIHelper.deserialize(_responseBody,
                                                        new TypeReference<EventDataWrapper>(){});

                            //let the caller know of the success
                            callBack.onSuccess(_context, _result);
                        } catch (APIException error) {
                            //let the caller know of the error
                            callBack.onFailure(_context, error);
                        } catch (IOException ioException) {
                            //let the caller know of the caught IO Exception
                            callBack.onFailure(_context, ioException);
                        } catch (Exception exception) {
                            //let the caller know of the caught Exception
                            callBack.onFailure(_context, exception);
                        }
                    }
                    public void onFailure(HttpContext _context, Throwable _error) {
                        //invoke the callback after response if its not null
                        if (getHttpCallBack() != null)	
                            {
                            getHttpCallBack().OnAfterResponse(_context);
                        }

                        //let the caller know of the failure
                        callBack.onFailure(_context, _error);
                    }
                });
            }
        };

        //execute async using thread pool
        APIHelper.getScheduler().execute(_responseTask);
    }

    /**
     * Fetches lists of series filtered by a creator id.
     * @param    creatorId    Required parameter: A single creator id.
     * @param    characters    Optional parameter: Return only series which feature the specified characters (accepts a comma-separated list of ids).
     * @param    comics    Optional parameter: Return only series which contain the specified comics (accepts a comma-separated list of ids).
     * @param    contains    Optional parameter: Return only series containing one or more comics with the specified format. (Acceptable values are: "comic", "magazine", "trade paperback", "hardcover", "digest", "graphic novel", "digital comic", "infinite comic")
     * @param    events    Optional parameter: Return only series which have comics that take place during the specified events (accepts a comma-separated list of ids).
     * @param    limit    Optional parameter: Limit the result set to the specified number of resources.
     * @param    modifiedSince    Optional parameter: Return only series which have been modified since the specified date.
     * @param    offset    Optional parameter: Skip the specified number of resources in the result set.
     * @param    orderBy    Optional parameter: Order the result set by a field or fields. Add a "-" to the value sort in descending order. Multiple values are given priority in the order in which they are passed. (Acceptable values are: "title", "modified", "startYear", "-title", "-modified", "-startYear")
     * @param    seriesType    Optional parameter: Filter the series by publication frequency type. (Acceptable values are: "collection", "one shot", "limited", "ongoing")
     * @param    startYear    Optional parameter: Return only series matching the specified start year.
     * @param    stories    Optional parameter: Return only series which contain the specified stories (accepts a comma-separated list of ids).
     * @param    title    Optional parameter: Filter by series title.
     * @param    titleStartsWith    Optional parameter: Return series with titles that begin with the specified string (e.g. Sp).
     * @return    Returns the SeriesDataWrapper response from the API call 
     */
    public SeriesDataWrapper getCreatorSeriesCollection(
                final String creatorId,
                final String characters,
                final String comics,
                final String contains,
                final String events,
                final String limit,
                final String modifiedSince,
                final String offset,
                final String orderBy,
                final String seriesType,
                final String startYear,
                final String stories,
                final String title,
                final String titleStartsWith
    ) throws Throwable {
        APICallBackCatcher<SeriesDataWrapper> callback = new APICallBackCatcher<SeriesDataWrapper>();
        getCreatorSeriesCollectionAsync(creatorId, characters, comics, contains, events, limit, modifiedSince, offset, orderBy, seriesType, startYear, stories, title, titleStartsWith, callback);
        if(!callback.isSuccess())
            throw callback.getError();
        return callback.getResult();
    }

    /**
     * Fetches lists of series filtered by a creator id.
     * @param    creatorId    Required parameter: A single creator id.
     * @param    characters    Optional parameter: Return only series which feature the specified characters (accepts a comma-separated list of ids).
     * @param    comics    Optional parameter: Return only series which contain the specified comics (accepts a comma-separated list of ids).
     * @param    contains    Optional parameter: Return only series containing one or more comics with the specified format. (Acceptable values are: "comic", "magazine", "trade paperback", "hardcover", "digest", "graphic novel", "digital comic", "infinite comic")
     * @param    events    Optional parameter: Return only series which have comics that take place during the specified events (accepts a comma-separated list of ids).
     * @param    limit    Optional parameter: Limit the result set to the specified number of resources.
     * @param    modifiedSince    Optional parameter: Return only series which have been modified since the specified date.
     * @param    offset    Optional parameter: Skip the specified number of resources in the result set.
     * @param    orderBy    Optional parameter: Order the result set by a field or fields. Add a "-" to the value sort in descending order. Multiple values are given priority in the order in which they are passed. (Acceptable values are: "title", "modified", "startYear", "-title", "-modified", "-startYear")
     * @param    seriesType    Optional parameter: Filter the series by publication frequency type. (Acceptable values are: "collection", "one shot", "limited", "ongoing")
     * @param    startYear    Optional parameter: Return only series matching the specified start year.
     * @param    stories    Optional parameter: Return only series which contain the specified stories (accepts a comma-separated list of ids).
     * @param    title    Optional parameter: Filter by series title.
     * @param    titleStartsWith    Optional parameter: Return series with titles that begin with the specified string (e.g. Sp).
     * @return    Returns the void response from the API call 
     */
    public void getCreatorSeriesCollectionAsync(
                final String creatorId,
                final String characters,
                final String comics,
                final String contains,
                final String events,
                final String limit,
                final String modifiedSince,
                final String offset,
                final String orderBy,
                final String seriesType,
                final String startYear,
                final String stories,
                final String title,
                final String titleStartsWith,
                final APICallBack<SeriesDataWrapper> callBack
    ) {
        //the base uri for api requests
        String _baseUri = Configuration.baseUri;

        //prepare query string for API call
        StringBuilder _queryBuilder = new StringBuilder(_baseUri);
        _queryBuilder.append("/creators/{creatorId}/series");

        //process template parameters
        APIHelper.appendUrlWithTemplateParameters(_queryBuilder, new HashMap<String, Object>() {
            private static final long serialVersionUID = 5254587730090985887L;
            {
                    put( "creatorId", creatorId );
            }});

        //process query parameters
        APIHelper.appendUrlWithQueryParameters(_queryBuilder, new HashMap<String, Object>() {
            private static final long serialVersionUID = 4857730647404812474L;
            {
                    put( "characters", characters );
                    put( "comics", comics );
                    put( "contains", contains );
                    put( "events", events );
                    put( "limit", limit );
                    put( "modifiedSince", modifiedSince );
                    put( "offset", offset );
                    put( "orderBy", orderBy );
                    put( "seriesType", seriesType );
                    put( "startYear", startYear );
                    put( "stories", stories );
                    put( "title", title );
                    put( "titleStartsWith", titleStartsWith );
                    put( "apikey", Configuration.apikey );
            }});
        //validate and preprocess url
        String _queryUrl = APIHelper.cleanUrl(_queryBuilder);

        //load all headers for the outgoing API request
        Map<String, String> _headers = new HashMap<String, String>() {
            private static final long serialVersionUID = 5371710446932547167L;
            {
                    put( "user-agent", "APIMATIC 2.0" );
                    put( "accept", "application/json" );
                    put( "referer", Configuration.referer );
            }
        };

        //prepare and invoke the API call request to fetch the response
        final HttpRequest _request = getClientInstance().get(_queryUrl, _headers, null);

        //invoke the callback before request if its not null
        if (getHttpCallBack() != null)
        {
            getHttpCallBack().OnBeforeRequest(_request);
        }

        //invoke request and get response
        Runnable _responseTask = new Runnable() {
            public void run() {
                //make the API call
                getClientInstance().executeAsStringAsync(_request, new APICallBack<HttpResponse>() {
                    public void onSuccess(HttpContext _context, HttpResponse _response) {
                        try {

                            //invoke the callback after response if its not null
                            if (getHttpCallBack() != null)	
                            {
                                getHttpCallBack().OnAfterResponse(_context);
                            }

                            //Error handling using HTTP status codes
                            int _responseCode = _response.getStatusCode();
                            if (_responseCode == 409)
                                throw new APIException("Limit greater than 100.", _context);

                            //handle errors defined at the API level
                            validateResponse(_response, _context);

                            //extract result from the http response
                            String _responseBody = ((HttpStringResponse)_response).getBody();
                            SeriesDataWrapper _result = APIHelper.deserialize(_responseBody,
                                                        new TypeReference<SeriesDataWrapper>(){});

                            //let the caller know of the success
                            callBack.onSuccess(_context, _result);
                        } catch (APIException error) {
                            //let the caller know of the error
                            callBack.onFailure(_context, error);
                        } catch (IOException ioException) {
                            //let the caller know of the caught IO Exception
                            callBack.onFailure(_context, ioException);
                        } catch (Exception exception) {
                            //let the caller know of the caught Exception
                            callBack.onFailure(_context, exception);
                        }
                    }
                    public void onFailure(HttpContext _context, Throwable _error) {
                        //invoke the callback after response if its not null
                        if (getHttpCallBack() != null)	
                            {
                            getHttpCallBack().OnAfterResponse(_context);
                        }

                        //let the caller know of the failure
                        callBack.onFailure(_context, _error);
                    }
                });
            }
        };

        //execute async using thread pool
        APIHelper.getScheduler().execute(_responseTask);
    }

    /**
     * Fetches lists of stories filtered by a creator id.
     * @param    creatorId    Required parameter: A single creator id.
     * @param    characters    Optional parameter: Return only stories which feature the specified characters (accepts a comma-separated list of ids).
     * @param    comics    Optional parameter: Return only stories contained in the specified comics (accepts a comma-separated list of ids).
     * @param    events    Optional parameter: Return only stories which take place during the specified events (accepts a comma-separated list of ids).
     * @param    limit    Optional parameter: Limit the result set to the specified number of resources.
     * @param    modifiedSince    Optional parameter: Return only stories which have been modified since the specified date.
     * @param    offset    Optional parameter: Skip the specified number of resources in the result set.
     * @param    orderBy    Optional parameter: Order the result set by a field or fields. Add a "-" to the value sort in descending order. Multiple values are given priority in the order in which they are passed. (Acceptable values are: "id", "modified", "-id", "-modified")
     * @param    series    Optional parameter: Return only stories contained the specified series (accepts a comma-separated list of ids).
     * @return    Returns the StoryDataWrapper response from the API call 
     */
    public StoryDataWrapper getCreatorStoryCollection(
                final String creatorId,
                final String characters,
                final String comics,
                final String events,
                final String limit,
                final String modifiedSince,
                final String offset,
                final String orderBy,
                final String series
    ) throws Throwable {
        APICallBackCatcher<StoryDataWrapper> callback = new APICallBackCatcher<StoryDataWrapper>();
        getCreatorStoryCollectionAsync(creatorId, characters, comics, events, limit, modifiedSince, offset, orderBy, series, callback);
        if(!callback.isSuccess())
            throw callback.getError();
        return callback.getResult();
    }

    /**
     * Fetches lists of stories filtered by a creator id.
     * @param    creatorId    Required parameter: A single creator id.
     * @param    characters    Optional parameter: Return only stories which feature the specified characters (accepts a comma-separated list of ids).
     * @param    comics    Optional parameter: Return only stories contained in the specified comics (accepts a comma-separated list of ids).
     * @param    events    Optional parameter: Return only stories which take place during the specified events (accepts a comma-separated list of ids).
     * @param    limit    Optional parameter: Limit the result set to the specified number of resources.
     * @param    modifiedSince    Optional parameter: Return only stories which have been modified since the specified date.
     * @param    offset    Optional parameter: Skip the specified number of resources in the result set.
     * @param    orderBy    Optional parameter: Order the result set by a field or fields. Add a "-" to the value sort in descending order. Multiple values are given priority in the order in which they are passed. (Acceptable values are: "id", "modified", "-id", "-modified")
     * @param    series    Optional parameter: Return only stories contained the specified series (accepts a comma-separated list of ids).
     * @return    Returns the void response from the API call 
     */
    public void getCreatorStoryCollectionAsync(
                final String creatorId,
                final String characters,
                final String comics,
                final String events,
                final String limit,
                final String modifiedSince,
                final String offset,
                final String orderBy,
                final String series,
                final APICallBack<StoryDataWrapper> callBack
    ) {
        //the base uri for api requests
        String _baseUri = Configuration.baseUri;

        //prepare query string for API call
        StringBuilder _queryBuilder = new StringBuilder(_baseUri);
        _queryBuilder.append("/creators/{creatorId}/stories");

        //process template parameters
        APIHelper.appendUrlWithTemplateParameters(_queryBuilder, new HashMap<String, Object>() {
            private static final long serialVersionUID = 5476427961526798525L;
            {
                    put( "creatorId", creatorId );
            }});

        //process query parameters
        APIHelper.appendUrlWithQueryParameters(_queryBuilder, new HashMap<String, Object>() {
            private static final long serialVersionUID = 5294135450931090087L;
            {
                    put( "characters", characters );
                    put( "comics", comics );
                    put( "events", events );
                    put( "limit", limit );
                    put( "modifiedSince", modifiedSince );
                    put( "offset", offset );
                    put( "orderBy", orderBy );
                    put( "series", series );
                    put( "apikey", Configuration.apikey );
            }});
        //validate and preprocess url
        String _queryUrl = APIHelper.cleanUrl(_queryBuilder);

        //load all headers for the outgoing API request
        Map<String, String> _headers = new HashMap<String, String>() {
            private static final long serialVersionUID = 4912627675252708199L;
            {
                    put( "user-agent", "APIMATIC 2.0" );
                    put( "accept", "application/json" );
                    put( "referer", Configuration.referer );
            }
        };

        //prepare and invoke the API call request to fetch the response
        final HttpRequest _request = getClientInstance().get(_queryUrl, _headers, null);

        //invoke the callback before request if its not null
        if (getHttpCallBack() != null)
        {
            getHttpCallBack().OnBeforeRequest(_request);
        }

        //invoke request and get response
        Runnable _responseTask = new Runnable() {
            public void run() {
                //make the API call
                getClientInstance().executeAsStringAsync(_request, new APICallBack<HttpResponse>() {
                    public void onSuccess(HttpContext _context, HttpResponse _response) {
                        try {

                            //invoke the callback after response if its not null
                            if (getHttpCallBack() != null)	
                            {
                                getHttpCallBack().OnAfterResponse(_context);
                            }

                            //Error handling using HTTP status codes
                            int _responseCode = _response.getStatusCode();
                            if (_responseCode == 409)
                                throw new APIException("Limit greater than 100.", _context);

                            //handle errors defined at the API level
                            validateResponse(_response, _context);

                            //extract result from the http response
                            String _responseBody = ((HttpStringResponse)_response).getBody();
                            StoryDataWrapper _result = APIHelper.deserialize(_responseBody,
                                                        new TypeReference<StoryDataWrapper>(){});

                            //let the caller know of the success
                            callBack.onSuccess(_context, _result);
                        } catch (APIException error) {
                            //let the caller know of the error
                            callBack.onFailure(_context, error);
                        } catch (IOException ioException) {
                            //let the caller know of the caught IO Exception
                            callBack.onFailure(_context, ioException);
                        } catch (Exception exception) {
                            //let the caller know of the caught Exception
                            callBack.onFailure(_context, exception);
                        }
                    }
                    public void onFailure(HttpContext _context, Throwable _error) {
                        //invoke the callback after response if its not null
                        if (getHttpCallBack() != null)	
                            {
                            getHttpCallBack().OnAfterResponse(_context);
                        }

                        //let the caller know of the failure
                        callBack.onFailure(_context, _error);
                    }
                });
            }
        };

        //execute async using thread pool
        APIHelper.getScheduler().execute(_responseTask);
    }

    /**
     * Fetches lists of creators.
     * @param    comics    Optional parameter: Return only creators who worked on in the specified comics (accepts a comma-separated list of ids).
     * @param    events    Optional parameter: Return only creators who worked on comics that took place in the specified events (accepts a comma-separated list of ids).
     * @param    firstName    Optional parameter: Filter by creator first name (e.g. Brian).
     * @param    firstNameStartsWith    Optional parameter: Filter by creator first names that match critera (e.g. B, St L).
     * @param    lastName    Optional parameter: Filter by creator last name (e.g. Bendis).
     * @param    lastNameStartsWith    Optional parameter: Filter by creator last names that match critera (e.g. Ben).
     * @param    limit    Optional parameter: Limit the result set to the specified number of resources.
     * @param    middleName    Optional parameter: Filter by creator middle name (e.g. Michael).
     * @param    middleNameStartsWith    Optional parameter: Filter by creator middle names that match critera (e.g. Mi).
     * @param    modifiedSince    Optional parameter: Return only creators which have been modified since the specified date.
     * @param    nameStartsWith    Optional parameter: Filter by creator names that match critera (e.g. B, St L).
     * @param    offset    Optional parameter: Skip the specified number of resources in the result set.
     * @param    orderBy    Optional parameter: Order the result set by a field or fields. Add a "-" to the value sort in descending order. Multiple values are given priority in the order in which they are passed. (Acceptable values are: "lastName", "firstName", "middleName", "suffix", "modified", "-lastName", "-firstName", "-middleName", "-suffix", "-modified")
     * @param    series    Optional parameter: Return only creators who worked on the specified series (accepts a comma-separated list of ids).
     * @param    stories    Optional parameter: Return only creators who worked on the specified stories (accepts a comma-separated list of ids).
     * @param    suffix    Optional parameter: Filter by suffix or honorific (e.g. Jr., Sr.).
     * @return    Returns the CreatorDataWrapper response from the API call 
     */
    public CreatorDataWrapper getCreatorCollection(
                final String comics,
                final String events,
                final String firstName,
                final String firstNameStartsWith,
                final String lastName,
                final String lastNameStartsWith,
                final String limit,
                final String middleName,
                final String middleNameStartsWith,
                final String modifiedSince,
                final String nameStartsWith,
                final String offset,
                final String orderBy,
                final String series,
                final String stories,
                final String suffix
    ) throws Throwable {
        APICallBackCatcher<CreatorDataWrapper> callback = new APICallBackCatcher<CreatorDataWrapper>();
        getCreatorCollectionAsync(comics, events, firstName, firstNameStartsWith, lastName, lastNameStartsWith, limit, middleName, middleNameStartsWith, modifiedSince, nameStartsWith, offset, orderBy, series, stories, suffix, callback);
        if(!callback.isSuccess())
            throw callback.getError();
        return callback.getResult();
    }

    /**
     * Fetches lists of creators.
     * @param    comics    Optional parameter: Return only creators who worked on in the specified comics (accepts a comma-separated list of ids).
     * @param    events    Optional parameter: Return only creators who worked on comics that took place in the specified events (accepts a comma-separated list of ids).
     * @param    firstName    Optional parameter: Filter by creator first name (e.g. Brian).
     * @param    firstNameStartsWith    Optional parameter: Filter by creator first names that match critera (e.g. B, St L).
     * @param    lastName    Optional parameter: Filter by creator last name (e.g. Bendis).
     * @param    lastNameStartsWith    Optional parameter: Filter by creator last names that match critera (e.g. Ben).
     * @param    limit    Optional parameter: Limit the result set to the specified number of resources.
     * @param    middleName    Optional parameter: Filter by creator middle name (e.g. Michael).
     * @param    middleNameStartsWith    Optional parameter: Filter by creator middle names that match critera (e.g. Mi).
     * @param    modifiedSince    Optional parameter: Return only creators which have been modified since the specified date.
     * @param    nameStartsWith    Optional parameter: Filter by creator names that match critera (e.g. B, St L).
     * @param    offset    Optional parameter: Skip the specified number of resources in the result set.
     * @param    orderBy    Optional parameter: Order the result set by a field or fields. Add a "-" to the value sort in descending order. Multiple values are given priority in the order in which they are passed. (Acceptable values are: "lastName", "firstName", "middleName", "suffix", "modified", "-lastName", "-firstName", "-middleName", "-suffix", "-modified")
     * @param    series    Optional parameter: Return only creators who worked on the specified series (accepts a comma-separated list of ids).
     * @param    stories    Optional parameter: Return only creators who worked on the specified stories (accepts a comma-separated list of ids).
     * @param    suffix    Optional parameter: Filter by suffix or honorific (e.g. Jr., Sr.).
     * @return    Returns the void response from the API call 
     */
    public void getCreatorCollectionAsync(
                final String comics,
                final String events,
                final String firstName,
                final String firstNameStartsWith,
                final String lastName,
                final String lastNameStartsWith,
                final String limit,
                final String middleName,
                final String middleNameStartsWith,
                final String modifiedSince,
                final String nameStartsWith,
                final String offset,
                final String orderBy,
                final String series,
                final String stories,
                final String suffix,
                final APICallBack<CreatorDataWrapper> callBack
    ) {
        //the base uri for api requests
        String _baseUri = Configuration.baseUri;

        //prepare query string for API call
        StringBuilder _queryBuilder = new StringBuilder(_baseUri);
        _queryBuilder.append("/creators");

        //process query parameters
        APIHelper.appendUrlWithQueryParameters(_queryBuilder, new HashMap<String, Object>() {
            private static final long serialVersionUID = 5542363742519767071L;
            {
                    put( "comics", comics );
                    put( "events", events );
                    put( "firstName", firstName );
                    put( "firstNameStartsWith", firstNameStartsWith );
                    put( "lastName", lastName );
                    put( "lastNameStartsWith", lastNameStartsWith );
                    put( "limit", limit );
                    put( "middleName", middleName );
                    put( "middleNameStartsWith", middleNameStartsWith );
                    put( "modifiedSince", modifiedSince );
                    put( "nameStartsWith", nameStartsWith );
                    put( "offset", offset );
                    put( "orderBy", orderBy );
                    put( "series", series );
                    put( "stories", stories );
                    put( "suffix", suffix );
                    put( "apikey", Configuration.apikey );
            }});
        //validate and preprocess url
        String _queryUrl = APIHelper.cleanUrl(_queryBuilder);

        //load all headers for the outgoing API request
        Map<String, String> _headers = new HashMap<String, String>() {
            private static final long serialVersionUID = 5343121817960340667L;
            {
                    put( "user-agent", "APIMATIC 2.0" );
                    put( "accept", "application/json" );
                    put( "referer", Configuration.referer );
            }
        };

        //prepare and invoke the API call request to fetch the response
        final HttpRequest _request = getClientInstance().get(_queryUrl, _headers, null);

        //invoke the callback before request if its not null
        if (getHttpCallBack() != null)
        {
            getHttpCallBack().OnBeforeRequest(_request);
        }

        //invoke request and get response
        Runnable _responseTask = new Runnable() {
            public void run() {
                //make the API call
                getClientInstance().executeAsStringAsync(_request, new APICallBack<HttpResponse>() {
                    public void onSuccess(HttpContext _context, HttpResponse _response) {
                        try {

                            //invoke the callback after response if its not null
                            if (getHttpCallBack() != null)	
                            {
                                getHttpCallBack().OnAfterResponse(_context);
                            }

                            //Error handling using HTTP status codes
                            int _responseCode = _response.getStatusCode();
                            if (_responseCode == 409)
                                throw new APIException("Limit greater than 100.", _context);

                            //handle errors defined at the API level
                            validateResponse(_response, _context);

                            //extract result from the http response
                            String _responseBody = ((HttpStringResponse)_response).getBody();
                            CreatorDataWrapper _result = APIHelper.deserialize(_responseBody,
                                                        new TypeReference<CreatorDataWrapper>(){});

                            //let the caller know of the success
                            callBack.onSuccess(_context, _result);
                        } catch (APIException error) {
                            //let the caller know of the error
                            callBack.onFailure(_context, error);
                        } catch (IOException ioException) {
                            //let the caller know of the caught IO Exception
                            callBack.onFailure(_context, ioException);
                        } catch (Exception exception) {
                            //let the caller know of the caught Exception
                            callBack.onFailure(_context, exception);
                        }
                    }
                    public void onFailure(HttpContext _context, Throwable _error) {
                        //invoke the callback after response if its not null
                        if (getHttpCallBack() != null)	
                            {
                            getHttpCallBack().OnAfterResponse(_context);
                        }

                        //let the caller know of the failure
                        callBack.onFailure(_context, _error);
                    }
                });
            }
        };

        //execute async using thread pool
        APIHelper.getScheduler().execute(_responseTask);
    }

}